*{
  margin: 0;
  padding: 0;
}
.container-01{
  text-align: center;
  background-color: rgb(163, 2, 2);
}
.logo > img{
  margin: 30px 20px;
  width: 50px;
}
div.col{
  display: flex;
}
div.pizza{
  width: 20%;
}
.pizza img{
  width: 100%;

}
.titulo{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.sub-titulo{
  color: rgba(202, 201, 201, 0.776);
}
input{
  padding: 5px;
  border-radius: 5px;
}
.botao{
  margin-left: 20px;
}
input.botao{
  padding-left: 1rem;
  padding-right: 1rem;
}
:hover.botao{
  background-color: rgba(149, 149, 146, 0.844);
  transition: .5s;
}
.menu-navegacao{
  padding: 10px 10px;
}
.menu-navegacao .col{
  color: yellow;
  padding: 7px;
  border-radius: 5px;
}
.container-01 :hover.col{
  background-color: rgba(246, 11, 11, 0.226);
  transition: .7s;
  cursor: pointer;
}
.container-02{
  text-align: center;
  background-color: rgba(222, 220, 220, 0.464);
}